:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --black-color: #000000;
  --white-color: #ffffff;
  --section-grey-color: #f5f4fa;
  --footer-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--white-color);
  color: var(--main-text-color);
}

.header-logo,
.footer-logo {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* --------------------------------header------------------------------- */

.header-link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.current {
  color: var(--accent-color);
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
}

.logo-web {
  color: var(--accent-color);
}

.mail,
.tel {
  color: var(--secondary-text-color);
}

/* --------------------------------hero------------------------------- */

.hero {
  background-color: var(--footer-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--black-color);
}

/* --------------------------------excell------------------------------- */

.excell-sub-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.excell-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* --------------------------------about------------------------------- */

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.about-list {
  display: flex;
}
.about-imgs {
  margin-left: 30px;
}
/* --------------------------------team------------------------------- */

.team {
  background-color: var(--section-grey-color);
}

.team-list {
  display: flex;
}

.team-card {
  background-color: var(--white-color);
  margin-left: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

/* --------------------------------footer------------------------------- */

.footer {
  background-color: var(--footer-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
}

.location {
  line-height: 1.71;
  color: var(--white-text-color);
}

.footer-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/* --------------------------------portfolio------------------------------- */

.filters-btns {
  display: flex;
}

.portf-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-text-color);
  cursor: pointer;
}

.portf-btn:hover,
.portf-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: 34px 215px 94px 215px;
}

.projects-item {
  margin-left: 30px;
}
